body {
  padding-top: 60px;
 }

div {
  text-align: center;
 }

h2 {
  text-align: center;
  font: italic 200% fantasy;
  color: white;
 }

label {
  display: block;
  color: white;
 }

table#table1 {
	 width:70%;
	 margin-left:15%;
	 margin-right:15%;
   color: white;
 }

p {
  color: white;
 }

a {
  color: yellow:
 }

button {
  color: black;
 }
